<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\data\TournamentTracker"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server= DESKTOP-G1TN2QA;Database=Tournaments;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>